name: CI
on:
  push:
    branches: [ master ]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Check syntax of html files
      run: npx prettier *.html
#  deploy:
#    runs-on: ubuntu-latest
#    needs: test
#    steps:
#    - uses: actions/checkout@v2
#    - name: Deploy HTML with rsync
#      shell: bash
#      env:
#        SSH_KEY: ${{ secrets.SshKey }}
#      run: |
#        if [ ! -d ~/.ssh ]; then mkdir ~/.ssh; fi
#        echo "$SSH_KEY" > ~/.ssh/key
#        chmod 600 ~/.ssh/key
#        rsync -rv --exclude=.git \
#          -e "ssh -i ~/.ssh/key -o StrictHostKeyChecking=no" \
#          $GITHUB_WORKSPACE/ deploy@server.com:/var/www/test/
